.form {
  width: 700px;
  /*background:
		radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
		radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
		linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
		linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
		linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
		linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
		background-size: 40px 60px;*/
}

.translationsBox {
  text-align: center;
}

.eachTranslationBox {
  text-align: left;
}

.buttonBox {
  text-align: center;
}

.examplesBox {
}

.examples {
  /* text-align: center; */
  /* color: blue; */
}

.eachExample {
}

.eachExampleText {
  word-break: break-word;
  white-space: normal;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* .progress-bar { */
/* background-image: linear-gradient(-45deg, 
    rgba(255, 255, 255, 0.35) 25%, 
    rgba(255, 255, 255, 0) 25%, 
    rgba(255, 255, 255, 0) 50%, 
    rgba(255, 255, 255, 0.35) 50%, 
    rgba(255, 255, 255, 0.35) 75%, 
    rgba(255, 255, 255, 0) 75%, 
    rgba(255, 255, 255, 0));
  background-repeat: repeat-x;
  background-size: 20px 20px; */
/* animation: stripes 1s linear infinite; */
/* } */

/* @-webkit-keyframes stripes {
to {background-position: 20px 0;}
}
@-moz-keyframes stripes {
to {background-position: 20px 0;}
}
@keyframes stripes {
to {background-position: 20px 0;}
} */
