.editRelationBox {
  text-align: center;
}

.buttonBox {
  text-align: center;
}

.resetButtton{
  background-color: #4C4948;
  color: white;
}

.updateButton{
  background-color: #007446;
  color: white;
}
